.card {
  position: relative;
  aspect-ratio: 2;
  background-color: #150A33;
  width: 400px;
  padding: 24px 24px 24px 100px;
  margin: 20px;
}

.cardImage {
  aspect-ratio: 1;
  position: absolute;
  left: 24px;
  top: 24px;
  bottom: 24px;
  width: calc(50% - 50px);
  opacity: 0.5;

  & img {
    object-fit: cover;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-bg);

  h3,
  p {
    margin: 0;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
  }

  p {
    padding-left: 90px;
    line-height: 1.2;
  }
}