.hero {
  display: flex;
  width: 100vw;
  height: 100svh;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  background-color: black;
  background: linear-gradient(black, rgb(34, 0, 49));
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  color: gold;
  z-index: 100000;
}