.hero {
  display: flex;
  width: 100vw;
  height: 100svh;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  background-color: black;
  background: linear-gradient(239deg, #002535, #28003a, #005043,
      #28003a, #002535,
      #28003a);
  background-size: 400% 400%;

  animation: gradientAnimation 21s ease infinite;
}

.heroCanvas {
  height: 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  color: gold;
  z-index: 100000;
}